/* tags */
html {
    height: 100%;
}

body {
    height: 100%;
    font-family: sans-serif;
}

h1, h2, h3 {
    font-weight: bold;
    margin: 0.2em 0 0.1em 0;
    padding-top: .5em;
}

h1 {
    font-size: 1.5em;
    color: #888;
    margin-bottom: 0;
}

h2 {
    font-size: 1.5em;
    border-bottom: 1px solid #AAA;
}

h3 {
    font-size: 1.2em;
    border-bottom: 1px solid #AAA;
    width: 55em;
    max-width: 100%;
}

a {
    color: #006;
}

/* content */
#content-column {
    position: absolute;
    top: 1em;
    left: 10em;
}

#content {
    min-height: 140px;
    width: calc(100% - 2em);
    max-width: 60em;
    padding: 0 1em 1em 1em;
    border-left: 1px solid #CCC;
    background: #FFF;
    font-size: 0.9em;
}

#content p {
    max-width: 100%;
}

#content #app [v-cloak] {
    visibility: hidden;
  }

/* sidebar */
#sidebar {
    margin-top: 3em;
    min-height: 75%;
    width: 12em;
    background: url("sidebar-bg.svg") no-repeat top right;
    color: #666;
}

#sidebar h4 {
    margin: 1.5em 0 0.2em 0;
    width: 10em;
    border-bottom: 1px solid #CCC;
    font-size: 0.8em;
    font-weight: normal;
}

#sidebar a {
    color: #77B;
    border: 0;
}

#sidebar ul, #sidebar li {
    margin: 0;
    padding: 0;
    list-style: none none;
    font-size: 0.9em;
    color: #888;
}

#sidebar li {
    margin-left: 1em;
}

/* footer */
#footer {
    margin: 1em;
    padding: 1em;
    font-size: 0.6em;
    color: gray;
}

#footer a {
    color: #669;
}

/* mobile fixes */
@media (min-width: 1020px) and (max-width: 1199px) {
    #quickNav,
    #sidebar {
        width: 7em;
        background: none;
    }

    #quickNav h4 {
        width: unset;
    }

    #content-column {
        left: 7em;
    }
}

@media (max-width: 1019px) {
    h1 {
        margin-top: 0;
    }

    #sidebar {
        margin-top: 0;
        width: auto;
        min-height: 0;
        background: none;
    }

    #content-column {
        position: inherit;
        top: inherit;
        left: inherit;
    }

    #quickNav {
        position: unset;
        width: auto;
    }
}
